$primary-color: white;
$bg: black;

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  * {
    box-sizing: border-box;
  }
}


h2 {
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}
