$primary-color: white;
$bg: black;

html, body {
  padding: 0;
  margin: 0;
  * {
    box-sizing: border-box;
  }
}


h2 {
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}
